@import "compass/css3";

/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0; 
}

p {
  font-size: .95em;
  margin-bottom: 1.8em;
}

a {
  color: #000;
  text-decoration: none;
}

h1 {
  padding-bottom: -1em;
}

h2, 
h3 {
  color: #000;
  font-family: 'Oswald', sans-serif;
  margin-top: 5;
  padding-bottom: 1em;    
}

h2 {
  line-height: 100%;
}

img {
  max-width: 100%;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
  font-size: 1.35em;
  margin: 0;
}

.main-nav {
  margin-top: 5px;
}

.name a, 
.main-nav a {
  display: block;
  text-align: center;
  padding: 10px 15px;
}

.main-nav a {
  color: #000;
  font-size: .95em;
  text-transform: uppercase;
}

.main-nav a:hover {
  background-color: #ace1e4;
  color: #7a9697;  
}

/* ---- Layout Containers ---- */

.main-header {
  padding-bottom: .5em;
  padding-top: .5em;	
}

.banner, 
.main-footer {
  text-align: center;
}

.banner {
  padding: 3.2em 0;
  text-overflow: inherit;
}

.col {
  padding-left: 1em;
  padding-right: 1em;
}

.main-footer {
  background: #d9e4ea;
  padding: 2em 0;
}

.blog-title {
  text-align: center;
}

.site-content {
  padding: 2em 0;
}

/* ---- Page Elements ---- */

.banner {
  background-image: url('../img/home4.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 60vh; 
}

.subhead {
  color: #ace1e4;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  margin-top: 100px; 
  text-align: center;
}

.logo {
  width: 190px;
}

.headline {
  color: #6ecccf;
  font-family: 'Abril Fatface', cursive;
  font-size: 4em;
  margin-bottom: 120px;        
}

.tagline {
  color: #29abad;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  margin-top: 100px;
  text-align: center;
}

.feat-img {
  border-radius: 5px;
  margin-bottom: 1em;
  margin-top: 1em;
}

.author-img {
  border-radius: 50%
}

.site-content {
  background-color: #fcfdff;
}

.buttontext {
  background: #fff;
  border: 2px solid;
  font-family: 'Oswald', sans-serif;
  margin: 1em;
  max-width: 80%;
  padding: .5em 1em;
}

.buttontext:hover {
  background-color: #6ECCCF;
  color: #fff;
}

form {
  background: none;
  border-radius: 8px;
  max-width: 700px;
  margin: 10px auto;
  padding: 10px 20px;
}

input[type="text"],
input[type="email"],
textarea,
select {
  border: 0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  font-size: 16px;
  height: auto;
  margin: 0;
  margin-bottom: 30px;
  outline: 0;
  padding: 15px;
  width: 100%;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  .main-header,
  .row {
    margin: 0 auto;
    width: 90%;
	}	
}

@media (min-width: 1025px) {
  .main-header,
  .row {
    width: 80%;
    max-width: 1150px;
	}
}

/* ================================= 
  Compass 
==================================== */

img {
  border-radius: 150px 0 0 150px;
  display: block;
  margin: 50px auto;
  transition: all 2s ease;
}

img:hover {
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-radius: 0;
}

/* ================================= 
 Form 
==================================== */
* {
  border: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.jsbutton {
  background-color: #003638;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 20px auto;
  padding: 12px 18px 13px;
  width: 600px;
}

.jsbutton:hover {
  opacity: 0.8;
}

section {
  padding: 30px 0 25px;
  background-color: #83d3d6;
  text-align: center;
}

.pop {
  background: #1cafb5;
  border-radius: 15px;
  display: none;
  height: 80%;
  margin: auto; 
  opacity: .98;
  overflow: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 60%;
}

.popheader {
  color: #002D2E;
  font-family: 'Oswald', sans-serif;
  padding: 40px 30px 10px 30px;
  text-align: center;
}

.poptext {
  font-size: 100%;
  text-align: center; 
}

.close {
  border-radius: 100px;
  color:#2E5A5C;
  cursor: pointer;
  height: 40px;
  padding: 6px 0 10px 9px;
  position: absolute;
  right: 4%;
  top: 4%;
  width: 30px;
}

.innertext {
  color: #002d2e;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.submitbutton {
  background-color: #f4fffe;
}