/* ================================= 
  Media Queries
==================================== */

@media (min-width: 40em) {

	.main-header,
	.main-nav,
	.row {
		display: flex;
	}

	.main-header {
		flex-direction: column;
		align-items: center;
	}

	.col {
		flex: 1 50%;
	}

	.row {
		flex-wrap: wrap;
	}


	.secondary {
		order: 1;
        
        
	}

}

@media (min-width: 1025px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}

	.col {
		flex-basis: 0;
	}

	.primary {
		flex-grow: 3;
	}

}

    .site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

    .site-content {
  flex: 1;
}

@media handheld, only screen and (max-width: 767px) {
    .headline {
        padding: 0 0 0 0;
        margin: 0 5px 0 0;
        
    }
    
    .subhead {
    line-height: 30px;
    height: 500px;
    width:600px;
    max-width: 320px; /* or whatever size you want */
    float: center;
    padding: 10px;
    font-size: 100%;
    margin: 10px;
    word-wrap: break-word;
    }
}